{{define "subject"}}Welcome to Giggity!{{end}}

{{define "plainBody"}}
Hi,

Thanks for coming nigglet. Your id is {{.ID}}

Send a `PUT` request to `/v1/users/activated` endpoint with the following JSON:
{"token": "{{.activationToken}}"}

Do note this is a one time token which will expire in 3 days.

Thanks,

Niggas who don't give an f
{{end}}

{{define "htmlBody"}}

<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hi,</p>
        <p>So you really signed up to this useless API? Anyways, Your id is {{.userID}}.</p><br>
        <p>You also have to send a `PUT` request to `/v1/users/activated` endpoint with the following JSON:<br>
        <pre><code>{"token": "{{.activationToken}}"}</code></pre><br>

        Do note this is a one time token which will expire in 3 days.</p>

        <p>Yours truly,</p>
        <p>Niggers.</p>
    </body>
</html>
{{end}}
